<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="todolist.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script type="text/javascript" src="todolist.js"></script>
  </head>
  <body>
    <h1>To Do List</h1>
    <div ng-app="todolistApp">
      <div ng-controller="todolistController as ctrl">
        Order by:
        <select ng-model="ctrl.order">
          <option value="priority">Priority</option>
          <option value="thing">A-Z</option>
        </select>
        <button ng-click="ctrl.add()">Add this!</button>
        Thing: <input type="text" ng-model="ctrl.userItem" placeholder="What d'ya have to do?">
        Priority:
        <select ng-model="ctrl.userPriority">
          <option value="a_high">High</option>
          <option value="b_med">Medium</option>
          <option value="c_low">Low</option>
        </select>
        <ul>
          <li ng-repeat="item in ctrl.list | orderBy:ctrl.order">
            <h3>{{ item.thing }}</h3>
            <div class="priority {{ item.priority }}">{{item.priority}}</div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
