<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="todolist.css">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script type="text/javascript" src="todolist.js"></script>
  </head>
  <body>
    <h1>To Do List</h1>
    <div ng-app="todolistApp">
      <div ng-controller="todolistController as ctrl">
        Order by:
        <select ng-model="ctrl.order">
          <option value="priority">Priority</option>
          <option value="task">A-Z</option>
          <option value="complete">Complete</option>
        </select>
        <button ng-click="ctrl.add()">Add this!</button>
        Task: <input type="text" ng-model="ctrl.userTask" placeholder="What d'ya have to do?">
        Priority:
        <select ng-model="ctrl.userPriority">
          <option value="0">High</option>
          <option value="1">Medium</option>
          <option value="2">Low</option>
        </select>
        <ol>
          <li ng-class="{ 'complete': item.complete }" ng-repeat="item in ctrl.list | orderBy:ctrl.order">
            <h3 contenteditable ng-class="{ 'done': item.complete }">{{ item.task }}</h3>
            <button class="priority" ng-click="ctrl.complete(item.task)" ng-class="{ 'high': item.priority === 0, 'med': item.priority === 1, 'low': item.priority === 2 }" >{{item.complete ? '✔' : ''}}</button>
            <button ng-click="ctrl.delete(item.task)">Delete</button>
          </li>
        </ol>
      </div>
    </div>
  </body>
</html>
