ul li {
  list-style: none;
}

.high {
  background-color: red;
  color: red;
}

.med {
  background-color: yellow;
  color: yellow;
}

.low {
  background-color: green;
  color: green;
}

.priority {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 0.001rem;
  vertical-align: middle;
}

.done {
  text-decoration: line-through;
}
.complete {
  color: grey;
}
