.itemContainer,
#inputContainer {
  display: flex;
  flex-direction: row;
}

#todoAppRoot {
  max-width: 500px;
  margin: 0 auto;
}

.priorityDiv,
.taskDiv,
.deleteDiv {
  vertical-align: middle;
}

.taskDiv {
  flex-grow: 2;
  line-height: 1.5rem;
}

#todolist {
  padding: 0;
}

#todolist li {
  font-family: 'Shadows Into Light', cursive;
  list-style: none;
  margin: 1rem 0;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0.5rem;
}

#masterContainer {
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
}

#inputContainer .deleteButton {
  color: black;
  border: 2px solid black;
}

#inputContainer .deleteButton:hover,
#inputContainer .deleteButton:active {
  color: red;
  border: 2px solid red;
}

.high {
  background-color: red;
  color: red;
}

.med {
  background-color: orange;
  color: orange;
}

.low {
  background-color: green;
  color: green;
}

.submitButton {
  padding: 0;
}

.priorityButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  vertical-align: middle;
  border: none;
  color: white;
  outline: none;
}

.masterPriority {
  background-color: black;
  margin-right: 0.5rem;
}

.mComplete {
  background-color: green;
}

.masterPriority:hover {
  background-color: green;
}


.done {
  text-decoration: line-through;
}
.complete {
  color: grey;
}

.task {
  margin: 0 1rem;
  font-size: 1.5rem;
}

.taskInput {
  margin: 0 1rem;
}

form {
  margin: 0;
}

.edit {
  margin: 0 1rem;
}

button {
  padding: 0;
  /*display: flex;
  align-items: center;*/
  line-height: 25px;
}

/*.prioritySelect {
  background-color: red;
}*/

.prioritySelect option {
  color: black;
}

.deleteButton {
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  vertical-align: top;
  border: 2px solid grey;
  background-color: white;
  color: grey;
  margin-left: 0.5rem;
}

.deleteButton:hover,
.deleteButton:active {
  border: 2px solid red;
  color: red;
}
