ul li {
  font-family: 'Bad Script', cursive;
  list-style: none;
}

.high {
  background-color: red;
  color: red;
}

.med {
  background-color: orange;
  color: orange;
}

.low {
  background-color: green;
  color: green;
}

.priority {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  vertical-align: middle;
  border: none;
  color: white;
  outline: none;
}

.done {
  text-decoration: line-through;
}
.complete {
  color: grey;
}
